doctype html
html
	head
		include ../head.jade
	body
		#wrap
			include ../header.jade
			#contents
				.wrap
					#basket
						.title
							i.fas.fa-shopping-basket
							h2 장바구니
						table#basketList
							colgroup
								col(style="width:5%")
								col(style="width:15%")
								col(style="width:20%")
								col(style="width:10%")
								col(style="width:10%")
								col(style="width:10%")
								col(style="width:10%")
								col(style="width:10%")
							thead
								tr
									th(colspan="3") 상품
									th 사이즈
									th 수량
									th 가격
									th 배송비
									th 주문
							tbody
								- if(basketListCount > 0){
									each basket in basketList
											tr
												td
													input(type="checkbox" name="basketNo" id="basketNo#{basket.basket_no}" value="#{basket.basket_no}")
													label(for="basketNo#{basket.basket_no}")
														i.far.fa-square.notChecked
														i.fas.fa-check-square.checked
													.checkIcon
												td
													img(src="../uploadFiles/#{basket.file_save_name}", alt="#{basket.file_show_name}" style="width:100%;")
												td #{basket.product_name}
												td #{basket.option_name}
												td #{basket.option_num} 개
												td #{(basket.product_price * basket.option_num).numberWithCommas()} 원
												td
													- if(basket.product_price * basket.option_num > 50000){
														|0 원
													- } else {
														| #{(2500 * basket.option_num).numberWithCommas()} 원
													- }
												td
													button.btnOrderProduct(type="button" onclick="basketItemBuy(this)" data-option_no="#{basket.option_no}" data-option_num="#{basket.option_num}") 주문하기
													button.btnDeleteProduct(type="button" data-basket-no="#{basket.basket_no}") 삭제하기
													form(action="/public/payment" method="post" style="display:none;")
														input(type="hidden" name="directPayment" value="true")
														input(type="hidden" name="optionNo" value="#{basket.option_no}")
														input(type="hidden" name="optionNum" value="#{basket.option_num}")
								- } else {
									tr
										td(colspan="8") 장바구니에 담긴 상품이 없습니다
								- }
						- if(basketListCount > 0){
							#basketBtnList
								.left
									input#allSelect(type="checkbox")
									label.allSelectIcon(for="allSelect")
										i.far.fa-square.notChecked
										i.fas.fa-check-square.checked
									label.allSelectText(for="allSelect") 전체선택
									button.btnRemoveSelected(type="button") 선택한 상품 삭제하기
								.right
									button.btnSelectedOrder(type="submit") 선택한 상품 주문
									button.btnAllOrder(type="button") 전체 주문
						- }

			include ../footer.jade
		include ../script.jade
		script.
			$("#allSelect").change(function(){
				isChecked = $(this).prop("checked");

				if(isChecked){
					$("input[name=basketNo]").prop("checked", true);
				} else {
					$("input[name=basketNo]").prop("checked", false);
				}
			});


			$(".btnDeleteProduct").click(function(e){
				self = $(this);
				productIndex = $(self).parents("tr").index();

				if(confirm("해당 물품을 삭제하시겠습니까?")){
					basketNo = $(this).data("basket-no");
					basketNoList = [];
					basketNoList.push(basketNo);

					$.ajax({
						type : "POST",
						url : "/user/basket/delete",
						data : { basketNoList : basketNoList },
						success : (res) => {
							if(res){
								basketRemove(productIndex);
							} else {
								alert("알 수 없는 오류로 장바구니 물품 삭제를 실패했습니다.");
							}
						},
						error : (e) => {
							console.log(e);
						}
					});
				}
			});

			basketRemove = (productIndex) => {
				$("#basketList tbody tr").eq(productIndex).remove();
				basketListLength = $("#basketList tbody tr").length;

				if(basketListLength == 0){
					$("#basketList tbody").append('<tr><td colspan="8">장바구니에 담긴 상품이 없습니다</td></tr>');
				}
			}

			basketItemBuy = (self) => {
				if(confirm("해당 물품을 구매하시겠습니까?")){
					$(self).parent().find("form").submit();
				}
			}

			$(".btnRemoveSelected").click(() => {
				if($("input[name=basketNo]:checked").length == 0){
					alert("삭제할 물품을 선택해주세요.");
					return;
				}

				if(confirm("선택한 물품을 삭제하시겠습니까?")){
					basket_no_list = [];

					$("input[name=basketNo]:checked").each(function(){
						basket_no_list.push($(this).val());
					});

					basket_no_list = JSON.stringify(basket_no_list);

					$.ajax({
						type : "POST",
						url : "/user/basket/delete",
						data : { basket_no_list : basket_no_list },
						success : (res) => {
							if(res){
								$("input[name=basketNo]:checked").each(function(){
									basketRemove($(this).parents("tr").index());
								});
							} else {
								alert("알 수 없는 오류로 장바구니 물품 삭제를 실패했습니다.");
							}
						},
						error : (e) => {
							console.log(e);
						}
					});
				}
			});