doctype html
html
	head
		include ../head.pug
		link(rel="stylesheet" href="/css/user/mypage_side_menu.css")
		link(rel="stylesheet" href="/css/user/modify.css")
	body
		#wrap
			include ../header.pug
			#contents
				.wrap
					#myPage
						.left
							h3.title 마이페이지
							
							p.user_name #{session.user_name} 님
							
							.sideMenu
								.sideMenuItem
									p 쇼핑정보
									ul
										li
											a(href="/user/orderInfo") - 주문/배송조회
										li
											a(href="/user/basket") - 장바구니
								.sideMenuItem
									p 회원정보
									ul
										li
											a(href="/user/modify") - 회원정보수정
										li
											a(href="/user/dieMySelf") - 회원탈퇴

						.right
							form#modifyUserForm(method="put" action='/user/modify')
								input(type="hidden" name="user_no" value=user.user_no)
								.row.w-75.mx-auto
									.col-lg-12
										.mb-3
											label.form-label(for="userId") 아이디
											input#userId.form-control(type="text", name="user_id", value=user.user_id, placeholder="아이디를 입력하세요." readonly)
									.col-lg-6
										.mb-3
											label.form-label(for="userPw") 비밀번호
											input#userPw.form-control(type="password", name="user_pw", placeholder="비밀번호를 입력하세요.")
									.col-lg-6
										.mb-3
											label.form-label(for="userPw2") 비밀번호 확인
											input#userPw2.form-control(type="password", name="user_pw2", placeholder="비밀번호를 다시 입력하세요.")
									.col-lg-6
										.mb-3
											label.form-label(for="userName") 이름
											input#user_name.form-control(type="text", name="user_name", value=user.user_name, placeholder="이름을 입력하세요." required)
									.col-lg-6.mb-3
										.mb-3
											label.form-label(for="userPhone") 휴대폰 번호
											input#userPhone.form-control(type="text", name="user_phone", value=user.user_phone, placeholder="휴대폰 번호를 입력하세요." required)
									.col-lg-12
										.mb-3
											label.form-label(for="userZipcode") 우편번호
											.row
												.col-lg-2
													input#userZipcode.form-control(type="text", name="user_zipcode", value=user.user_zipcode, placeholder="우편번호를 입력하세요." readonly required)
												.col-lg-auto
													button#searchZipcode.btn.btn-primary(type="button") 우편번호 검색
										.mb-3
											label.form-label(for="userAddress") 주소
											input#userAddress.form-control(type="text", name="user_address", value=user.user_address, placeholder="주소를 입력하세요." readonly required)
										.mb-3
											label.form-label(for="userDetailAddress") 상세 주소
											input#userDetailAddress.form-control(type="text", name="user_detail_address", value=user.user_detail_address, placeholder="주소를 입력하세요.")
								.mt-3.text-center
									button#modifyBtn.btn.btn-primary(type="submit") 수정
									button#cancelBtn.btn.btn-secondary(type="button") 취소

			include ../footer.pug
		include ../script.pug
		script(src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js")
		script.
			$(function() {

				$("#searchZipcode, #userZipcode, #userAddress").click(function(e) {
					new daum.Postcode({
						oncomplete: function(data) {
							$("#userZipCode").val(data.zonecode);
							$("#userAddress").val(data.roadAddress);
							$("#userDetailAddress").val(data.buildingName);
						}
					}).open();
				});

				$("#modifyUserForm").submit(function(e){
					e.preventDefault();

					var user_phone = $("#userPhone").val();
					var phone_format = /^[0-9]{3}-[0-9]{4}-[0-9]{4}$/;


					if($("#userPw").val() != $("#userPw2").val()) {
						alert("비밀번호가 일치하지 않습니다.");
						$("#userPw").focus();
						return;
					}

					if(!phone_format.test(user_phone)){
						alert("휴대폰 번호를 형식이 맞지 않습니다.\r\n010-1234-1234 형식으로 입력해주세요.");
						$("#userPhone").focus();
						return;
					}

					$.ajax({
						url: "/user/modify",
						method: "put",
						data: $("#modifyUserForm").serializeObject(),
						dataType: "json",
						success: function(res) {
							if(res.message){
								alert(res.message);
							}

							if(res.success){
								link("/user/mypage");
							}
						}
					});
				})

				$("#cancelBtn").click(function() {
					location.href = "/user/mypage";
				});
			})