doctype html
html
	head
		include ../head.pug
		link(rel="stylesheet" href="/css/user/orderInfo.css")
	body
		#wrap
			include ../header.pug
			#contents
				.wrap
					#orderInfo
						.title
							i.fas.fa-tasks
							h2 주문 조회

						table#orderInfoList
							thead
								tr
									th 주문번호
									th(colspan=2) 상품
									th 사이즈
									th 수량
									th 가격
									th 배송상태
									th 주문일자
							tbody
								- if(order_list.length > 0){
									each order, i in order_list
										each detail, j in order.detail_list
											tr
												- if(j == 0)
													td.border-right(rowspan=order.order_list_count) #{order.order_no}
												td
													img(src=`../uploadFiles/${detail.file_save_name}` style="height:80px;")
												td.text-left #{detail.product_name}
												td #{detail.option_name}
												td #{detail.option_num}
												td #{(detail.product_price * detail.option_num).numberWithCommas()} 원
												td #{detail.order_status}
												td #{detail.order_date.format("yyyy-MM-dd HH:mm:ss")}

								- } else {
									tr
										td(colspan="8" style="padding:30px 0") 주문한 상품이 없습니다.
								- }

			include ../footer.pug
		include ../script.pug