doctype html
html
	head
		include ../head.jade
	body
		#wrap
			include ../header.jade
			#contents
				.wrap1280
					#productDetail
						#productDetailTop
							.left
								.image
									img(src="../uploadFiles/#{product.file_save_name}", alt="#{product.file_show_name}")
							.right
								.productInfo
									p.product_brand #{product.product_brand}
									p.product_name #{product.product_name}
									p.product_en_name #{product.product_en_name}
								.productBuyArea
									form#productBuyForm(action="/public/payment", method="post")
										input(type="hidden" name="productNo[]" value="#{product.product_no}")
										ul.productPrice
											li 판매가격
											li
												span.text-red #{product.product_price.numberWithCommas()} 
												|원
										ul.productBrand
											li 브랜드
											li #{product.product_brand}
										ul.productOption
											li 사이즈
											li
												select#optionNo(name="optionNo[]")
													option(value="", selected) 사이즈 선택
													each option, i in option_list
														- if(option.option_num > 0)
															option(value="#{option.option_no}", data-maxnum="#{option.option_num}") #{option.option_name}
														- else
															option(value="", disabled) #{option.option_name} [품절]
										ul.productNum
											li 수량
											li
												input(type="text", name="optionNum[]", id="optionNum", value="0", min="0")
										ul.productBuyBtns
											- if(session.user_no){
												li
													button(type="submit", id="productBuy" name="directPayment" value="true") 바로구매
												li
													button(type="submit", id="addBasket" name="directPayment" value="false") 장바구니
											- } else {
												li
													button(type="button", id="productBuy" onclick="alert('로그인 후 이용할 수 있는 서비스입니다.'); link('/user/login')") 바로구매
												li
													button(type="button", id="addBasket" onclick="alert('로그인 후 이용할 수 있는 서비스입니다.'); link('/user/login')") 장바구니
											- }
						#productDetailContent
							|!{product.product_contents}



			include ../footer.jade
		include ../script.jade
		script.

			$(function(){
				// 수량 증감
				$("#optionNum").spinner();

				// 숫자만 입력
				$("#optionNum").keyup(function(e){
					onlyNumber($(this), e);
				}).keydown(function(e){
					onlyNumber($(this), e);
				});

				// 사이즈 선택 시
				$("#optionNo").change(function(){
					option = $(this).val();
					maxNum = $(this).find("option:selected").data("maxnum");

					if(option.length > 0){
						$("#optionNum").spinner({
							disabled : false,
							max : maxNum,
							min : 1
						}).val(1);
					} else {
						$("#optionNum").spinner({
							disabled : true,
							max : 0,
							min : 0
						}).val(0);
					}

					$("#optionNo").val(option);
				});

				// 수량 선택 시
				isOptionSelect = $("#optionNo").val();
				if(isOptionSelect.length < 1){
					$("#optionNum").spinner({
						disabled : true
					});
				}

				// 수량 선택 시
				$("#optionNum").parents("li").click(function(){
					isOptionSelect = $("#optionNo").val();

					// 사이즈 선택 안했을 시
					if(isOptionSelect.length < 0){
						alert("사이즈를 먼저 선택해주세요.");
					}
				});

				// 바로구매 버튼 클릭 시
				$("#productBuyForm").submit(function(e){
					optionNo = $("#optionNo").val();
					optionNum = $("#optionNum").val();

					if(optionNo == ""){
						alert("사이즈를 선택해주세요.");
						return false;
					}

					if(optionNum < 1){
						alert("수량을 1개 이상 선택해주세요.");
						return false;
					}

					// 최대 수량 체크
					maxOptionNum = $("#optionNo").find("option:selected").data("maxnum");
					if(optionNum > maxOptionNum){
						alert("최대 구매 수량을 초과하였습니다.");
						return false;
					}
				});
			});