doctype html
html
	head
		include ../head.pug
	body
		#wrap
			include ../header.pug
			#contents
				.wrap
					#productList
						#brandList
							.left
								.title 브랜드
							.right
								ul.brandList
									each brand, i in brand_list
										li
											label(for=`brand_${i}`) #{brand.product_brand}
											input(type="checkbox" id=`brand_${i}` name="brand" value=`${brand.product_brand}`)

				#getProductList

			include ../footer.pug
		include ../script.pug

		script.
			let checkedBox = false;
			
			$(() => {
				// 뒤로가기 버그 방지
				$("input[type=checkbox]:checked").prop("checked", false);

				getProductList();

				$("input[type=checkbox]").change(function(){
					let checked = $(this).prop("checked");

					if(checked){
						$(this).siblings("label").addClass("active");
						checkedBox = true;
					} else {
						$(this).siblings("label").removeClass("active");
						checkedBox = false;
					}

					getProductList();
				});
			});
			
			var getProductList = () => {
				var brand = [];

				$("input[type=checkbox]:checked").each((i, input) => {
					brand.push($(input).val());
				});

				const category = `#{category}`;
				const keyword = `#{keyword}`;
				brand = JSON.stringify(brand);

				$.ajax({
					type : "POST",
					url : "/public/getProductList",
					data : { category, brand, keyword },
					success : (res) => {
						$("#getProductList").html(res);

						if(checkedBox){
							$(".productBrand > .text-red").text("");
						}

						$("input[type=checkbox]:checked").each((i, input) => {
							if($("input[type=checkbox]:checked").length - 1 == i)
								$(".productBrand > .text-red").append($(input).val());
							else
								$(".productBrand > .text-red").append($(input).val() + ", ");
						});
					},
					error : (e) => {
						console.log(e);
					}
				})
			}
			