include ../main.jade
	link(rel='stylesheet',href='../css/board.css')
	title 읽기페이지
	.frame
		.write_div
			input#title(type="text" placeholder="제목" value=board.board_title readonly)
			textarea#content(cols="30", rows="10" readonly)=board.board_content
		.write_btn_div
			if(user_no==board.user_no)
				button#write_btn 수정
				button#delete_btn 삭제
			button#write_close 목록
	script.
		$("#write_btn").click(()=>{
			location.href="/board/updatepage?no="+#{board.board_no}
		})
		$("#delete_btn").click(()=>{
			no=#{board.board_no}
			$.ajax({
				url:'/board/delete',
				dataType:'json',
				type:'post',
				data:{no:no},
				success:(result)=>{
					if(result){
						alert("글 삭제 완료!")
						location.href="/"
					}else{
						alert("글작성 실패")
					}
				}
			})
		})
		$("#write_close").click(()=>{
			location.href="/"
		})