doctype html
html(lang="ko")
	head
		include adminHead.pug
	body#page-top
		include adminHeader.pug
		#wrapper
			include adminSideBar.pug
			
			#content-wrapper
				.container-fluid
					// Breadcrumbs
					ol.breadcrumb
						li.breadcrumb-item
							a(href='/admin/dashboard') 관리자 페이지
						li.breadcrumb-item.active 상품관리

					// DataTables Example
					.card.mb-3
						.card-header
							i.fas.fa-fw.fa-box
							span.ml-2 상품목록
							button.btn.btn-primary.btn-sm.float-right(type="button" onclick="link('/admin/productAdd')") 상품등록
						.card-body
							.table-responsive
								table.table.table-sm.table-bordered.table-hover(width='100%', cellspacing='0')
									thead
										tr
											th 상품번호
											th 이미지
											th 제품명
											th 분류
											th 제조사
											th 판매가
											th 등록일
											th 기능
									tfoot
										tr
											th 상품번호
											th 이미지
											th 분류
											th 제품명
											th 제조사
											th 판매가
											th 등록일
											th 기능
									tbody
										each product in product_list
											tr
												td.text-center.align-middle #{product.product_no}
												td.text-center
													img(src=`../uploadFiles/${product.file_save_name}` style="height:80px;")
												td #{product.product_name}
												td #{product.product_category}
												td #{product.product_brand}
												td.text-right #{product.product_price.numberWithCommas()}
												td #{product.product_date.format("yyyy년 MM월 dd일 hh시 mm분")}
												td
													button.btn.btn-primary(type="button" onclick=`link('/admin/productModify?product_no=${product.product_no}')`) 수정
													- if(product.product_enable == 1){
														button.btn.btn-danger(type="button" data-product_no=`${product.product_no}` onclick='openActiveProductModal(this)') 비활성화
													- } else {
														button.btn.btn-success(type="button" data-product_no=`${product.product_no}` onclick='openActiveProductModal(this)') 활성화
													- }
												
										
						.card-footer.small.text-muted 마지막 상품이 등록된 날짜 : #{last_product_date.format("yyyy년 MM월 dd일 HH시 mm분")}
					
				include adminFooter.pug
			// /.content-wrapper
			// /#wrapper
			// Scroll to Top Button
			a.scroll-to-top.rounded(href='#page-top')
				i.fas.fa-angle-up

		// Confirm Modal
		#activeProductModal.modal.fade
			.modal-dialog.modal-dialog-centered
				.modal-content
					.modal-header
						h6#activeProductModalLabel.modal-title 상품 활성화/비활성화
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true')
								i.fas.fa-times
					.modal-body
					.modal-footer
						button#confirmButton.btn.btn-primary(type='button') 확인
						button.btn.btn-secondary(type='button', data-dismiss='modal') 취소

		

		include adminScript.pug
		script.
			$(document).ready(function(){
				$('.table').DataTable();
			});

			function openActiveProductModal(self){
				var product_no = $(self).data("product_no");
				var product_enable = $(self).text();
				var modal = $("#activeProductModal");
				var modal_body = $(".modal-body");
				var confirm_button = $("#confirmButton");

				console.log(self);

				if(product_enable === "활성화"){
					confirm_button.removeClass("btn-danger").addClass("btn-success");
					modal_body.html(`상품을 <span class="text-success btn-link">${product_enable}</span> 하시겠습니까?`);
				} else {
					confirm_button.removeClass("btn-primary").addClass("btn-danger");
					modal_body.html(`상품을 <a href="javascript:void(0)" class="text-danger btn-link cursor-pointer" onclick="productDelete(${product_no})">${product_enable}</a> 하시겠습니까?`);
				}
				
				$(confirm_button).text(product_enable);
				$(confirm_button).off("click").click(function(){
					productChangeStatus(self, product_no);
				});

				$("#activeProductModal").modal("show");
			}

			function productChangeStatus(clicked_button, product_no){
				$.ajax({
					type : "PUT",
					url : "/admin/product/status",
					data : { product_no },
					success : () => {
						var clicked_button_text = $(clicked_button).text();

						$("#activeProductModal").modal("hide");
						$(clicked_button).text(clicked_button_text === "활성화" ? "비활성화" : "활성화");
						$(clicked_button).removeClass(clicked_button_text === "활성화" ? "btn-success" : "btn-danger");
						$(clicked_button).addClass(clicked_button_text === "활성화" ? "btn-danger" : "btn-success");
					},
					error : function(e){
						console.log(e);
					}
				})
			}

			function productDelete(product_no){
				$.ajax({
					type : "DELETE",
					url : "/admin/product",
					data : { product_no },
					success : () => {
						$("#activeProductModal").modal("hide");

						location.reload();
					},
					error : function(e){
						console.log(e);
					}
				})
			}